<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .nav-link {
      font-size: 16px;
    }
  </style>
</head>
<body>
<div class="container pt-4 pb-4">
  <div class="row justify-content-sm-between">
    <div class="col-6">
      <div>
        <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/FPT_Polytechnic.png/1200px-FPT_Polytechnic.png" width="100" alt=""></a>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <div class="navbar-header">
        <a class="navbar-brand" style="font-size: 16px;" [routerLink]="'dang-nhap'">Đăng nhập</a>
        <a class="navbar-brand" style="font-size: 16px;" [routerLink]="'dang-ky'">Đăng ký</a>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="">Trang Chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Môn Học</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tin Tức</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Liên Hệ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <router-outlet></router-outlet>
</div>

<footer class="container-fluid text-center">
</footer>

</body>
</html>
