<div class="container">
    <div class="row">
      <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/FPT_Polytechnic.png/1200px-FPT_Polytechnic.png" width="100" style="margin-top: 20px;" alt=""></a>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center" style="margin-top: 100px;">
    <div class="col-4">
        <h3>Đăng nhập</h3>
        <form [formGroup]="loginForm">
            <!-- {{loginForm.value | json}}
            <br>
            Trạng thái của form: {{loginForm.valid | json}} -->
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" formControlName="email" class="form-control">
                <div *ngIf="loginForm.controls['email'].errors
                &&
                loginForm.controls['email'].touched || loginForm.controls['email'].dirty
                ">
                    <span *ngIf="loginForm.controls['email'].hasError('required')" class="text-danger">Hãy nhập email</span>
                    <span *ngIf="loginForm.controls['email'].hasError('email')" class="text-danger">Không nhập đúng định dạng</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" formControlName="password" class="form-control">
                <div *ngIf="loginForm.controls['password'].errors
                &&
                loginForm.controls['password'].touched">
                 <span *ngIf="loginForm.controls['password'].hasError('required')" class="text-danger">Hãy nhập mật khẩu</span>
                </div>
            </div>
            <div class="col-12">
                <div class="row justify-content-center">
                    <button class="btn btn-primary" [disabled]="loginForm.invalid">Đăng nhập</button>
                </div>
                <div class="row d-flex justify-content-between mt-4">
                    <a href="">Quên mật khẩu?</a>
                    <a [routerLink]="'/dang-ky'">Đăng ký</a>
                </div>
            </div>
        </form>
    </div>
</div>