<div class="container">
    <div class="row">
      <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/FPT_Polytechnic.png/1200px-FPT_Polytechnic.png" width="100" style="margin-top: 20px;" alt=""></a>
    </div>
</div>  
<div class="container-fluid mt-4 mb-4">
    <div class="col-6 offset-3">
        <h3 class="text-center">Đăng ký</h3>
        <!-- {{registerForm.value | json}} -->
        <br>
        <form [formGroup]="registerForm">
            <div class="form-group">
                <label for="">Họ và tên</label>
                <input type="text" formControlName="name" class="form-control">
                <div *ngIf="registerForm.controls['name'].errors 
                            && (
                                registerForm.controls['name'].touched 
                                || registerForm.controls['name'].dirty 
                    )">
                    <span class="text-danger" *ngIf="registerForm.controls['name'].hasError('required')">Hãy nhập họ và tên</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" formControlName="email" class="form-control">
                <div *ngIf="registerForm.controls['email'].errors 
                            && (
                                registerForm.controls['email'].touched 
                                || registerForm.controls['email'].dirty 
                            )">
                    <span class="text-danger" *ngIf="registerForm.controls['email'].hasError('required')">Hãy nhập email</span>
                    <span class="text-danger" *ngIf="registerForm.controls['email'].hasError('email')">Không đúng định email</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Mật khẩu</label>
                <input type="password" formControlName="password" class="form-control">
                <div *ngIf="registerForm.controls['password'].errors 
                            && (
                                registerForm.controls['password'].touched 
                                || registerForm.controls['password'].dirty 
                            )">
                    <span class="text-danger" *ngIf="registerForm.controls['password'].hasError('required')">Hãy nhập mật khẩu</span>
                    <span class="text-danger" *ngIf="registerForm.controls['password'].hasError('minlength')">Mật khẩu có ít nhất 6 ký tự</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Xác nhận mật khẩu</label>
                <input type="password" formControlName="confirmPassword" class="form-control">
                <div *ngIf="registerForm.controls['confirmPassword'].errors 
                            && (
                                registerForm.controls['confirmPassword'].touched 
                                || registerForm.controls['confirmPassword'].dirty 
                            )">
                    <span class="text-danger" *ngIf="registerForm.controls['confirmPassword'].hasError('required')">Hãy nhập mật khẩu</span>
                    <span class="text-danger" *ngIf="registerForm.controls['confirmPassword'].hasError('matchConfirmPassword')">Xác nhận mật khẩu chưa khớp</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Ngày sinh</label>
                <input type="date" formControlName="birthDate" class="form-control">
                <div *ngIf="registerForm.controls['birthDate'].errors 
                            && (
                                registerForm.controls['birthDate'].touched 
                                || registerForm.controls['birthDate'].dirty 
                            )">
                    <span class="text-danger" *ngIf="registerForm.controls['birthDate'].hasError('required')">Hãy chọn ngày sinh</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Số điện thoại</label>
                <input type="text" formControlName="phoneNumber" class="form-control">
                <div *ngIf="registerForm.controls['phoneNumber'].errors 
                            && (
                                registerForm.controls['phoneNumber'].touched 
                                || registerForm.controls['phoneNumber'].dirty 
                            )">
                    <span class="text-danger" *ngIf="registerForm.controls['phoneNumber'].hasError('required')">Hãy nhập số điện thoại</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Địa chỉ</label>
                <input type="text" formControlName="address" class="form-control">
                <div *ngIf="registerForm.controls['address'].errors 
                            && (
                                registerForm.controls['address'].touched 
                                || registerForm.controls['address'].dirty 
                            )">
                    <span class="text-danger" *ngIf="registerForm.controls['address'].hasError('required')">Hãy nhập địa chỉ</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button [disabled]="registerForm.invalid" class="btn btn-primary">Đăng Ký</button>
            </div>
        </form>
    </div>
</div>