<div class="row justify-content-center">
   <div class="col-sm-6">
    <input type="text"  id="" (keyup)="search($event)" class="form-control" placeholder="Tìm kiếm">
   </div>
</div>
<br>
<div class="row flex-wrap" >
    <div class="col-sm-3" *ngFor="let item of subjects">
        <a [routerLink]="'quiz/' + item.Code" class="text-decoration-none">
            <div class="panel panel-primary">
                <div class="panel-heading">{{item.Code}}</div>
                <div class="panel-body"><img [src]="item.Logo" class="img-responsive" style="width:100%; height: 100px;" alt="Image"></div>
                <div class="panel-footer" style="min-height: 80px; font-size: 16px;">{{item.Name}}</div>
            </div>
        </a>
    </div>
</div>