<div class="container-fluid">
    <div class="col-6 offset-3">
        <h3 class="d-flex justify-content-center">Cập nhật sinh viên</h3>
        <form [formGroup]="editStudentForm">
            <!-- {{editStudentForm.value | json}}
            <br>
            Trạng thái của form: {{editStudentForm.valid | json}} -->
            <div class="form-group">
                <label for="">Họ tên</label>
                <input type="text" formControlName="fullname" class="form-control">
                <div *ngIf="editStudentForm.controls['fullname'].errors
                &&
                editStudentForm.controls['fullname'].touched || editStudentForm.controls['fullname'].dirty
                ">
                    <span *ngIf="editStudentForm.controls['fullname'].hasError('required')" class="text-danger">Hãy nhập họ tên</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" formControlName="email" class="form-control">
                <div *ngIf="editStudentForm.controls['email'].errors
                &&
                editStudentForm.controls['email'].touched || editStudentForm.controls['fullname'].dirty">
                 <span *ngIf="editStudentForm.controls['email'].hasError('required')" class="text-danger">Hãy nhập tên đăng nhập</span>
                 <span *ngIf="editStudentForm.controls['email'].hasError('email')" class="text-danger">Nhập không đúng định dạng</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Giới tính</label>
                <select formControlName="gender" class="form-control">
                    <option value="true">Nam</option>
                    <option value="false">Nữ</option>
                </select>
                <div *ngIf="editStudentForm.controls['gender'].errors
                &&
                editStudentForm.controls['gender'].touched || editStudentForm.controls['gender'].dirty
                ">
                    <span *ngIf="editStudentForm.controls['gender'].hasError('required')" class="text-danger">Hãy chọn giới tính</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Ngày sinh</label>
                <input type="datetime" class="form-control">
                <div *ngIf="editStudentForm.controls['birthdate'].errors
                &&
                editStudentForm.controls['birthdate'].touched || editStudentForm.controls['birthdate'].dirty
                ">
                    <span *ngIf="editStudentForm.controls['birthdate'].hasError('required')" class="text-danger">Hãy nhập ngày sinh</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-success" [disabled]="editStudentForm.invalid">Cập nhật</button>
            </div>
        </form>
    </div>
</div>