<div class="container-fluid">
    <div class="col-6 offset-3">
        <h3 class="d-flex justify-content-center">Cập nhật Môn Học</h3>
        <form [formGroup]="editSubjectForm">
            <!-- {{editSubjectForm.value | json}}
            <br>
            Trạng thái của form: {{editSubjectForm.valid | json}} -->
            <div class="form-group">
                <label for="">Mã Code</label>
                <input type="text" formControlName="Code" class="form-control">
                <div *ngIf="editSubjectForm.controls['Code'].errors
                &&
                editSubjectForm.controls['Code'].touched || editSubjectForm.controls['Code'].dirty
                ">
                    <span *ngIf="editSubjectForm.controls['Code'].hasError('required')" class="text-danger">Hãy nhập mã code môn học</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Tên môn học</label>
                <input type="text" formControlName="Name" class="form-control">
                <div *ngIf="editSubjectForm.controls['Name'].errors
                &&
                editSubjectForm.controls['Name'].touched || editSubjectForm.controls['fullname'].dirty">
                 <span *ngIf="editSubjectForm.controls['Name'].hasError('required')" class="text-danger">Hãy nhập tên môn học</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Logo</label>
                <input type="file" class="form-control">
                <div *ngIf="editSubjectForm.controls['Logo'].errors
                &&
                editSubjectForm.controls['Logo'].touched || editSubjectForm.controls['Logo'].dirty
                ">
                    <span *ngIf="editSubjectForm.controls['Logo'].hasError('required')" class="text-danger">Hãy nhập ngày sinh</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-success" [disabled]="editSubjectForm.invalid">Cập nhật</button>
            </div>
        </form>
    </div>
</div>