<div class="container-fluid">
    <div class="col-6 offset-3">
        <h3 class="d-flex justify-content-center">Thêm Môn Học</h3>
        <form [formGroup]="addSubjectForm">
            <!-- {{addSubjectForm.value | json}}
            <br>
            Trạng thái của form: {{addSubjectForm.valid | json}} -->
            <div class="form-group">
                <label for="">Mã Code</label>
                <input type="text" formControlName="Code" [(ngModel)]="subjectData.Code" class="form-control">
                <div *ngIf="addSubjectForm.controls['Code'].errors
                &&
                addSubjectForm.controls['Code'].touched || addSubjectForm.controls['Code'].dirty
                ">
                    <span *ngIf="addSubjectForm.controls['Code'].hasError('required')" class="text-danger">Hãy nhập mã code môn học</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Tên môn học</label>
                <input type="text" formControlName="Name" [(ngModel)]="subjectData.Name" class="form-control">
                <div *ngIf="addSubjectForm.controls['Name'].errors
                &&
                addSubjectForm.controls['Name'].touched || addSubjectForm.controls['fullname'].dirty">
                 <span *ngIf="addSubjectForm.controls['Name'].hasError('required')" class="text-danger">Hãy nhập tên môn học</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Logo</label>
                <input type="text" [(ngModel)]="subjectData.Logo" class="form-control">
                <div *ngIf="addSubjectForm.controls['Logo'].errors
                &&
                addSubjectForm.controls['Logo'].touched || addSubjectForm.controls['Logo'].dirty
                ">
                    <span *ngIf="addSubjectForm.controls['Logo'].hasError('required')" class="text-danger">Hãy nhập ngày sinh</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-success" [disabled]="addSubjectForm.invalid" (click)="addSubject()">Thêm</button>
            </div>
        </form>
    </div>
</div>