<div class="container-fluid">
    <div class="col-6 offset-3">
        <h3 class="d-flex justify-content-center">Thêm sinh viên</h3>
        <form [formGroup]="addStudentForm">
            <!-- {{addStudentForm.value | json}}
            <br>
            Trạng thái của form: {{addStudentForm.valid | json}} -->
            <div class="form-group">
                <label for="">Họ tên</label>
                <input type="text" formControlName="fullname" class="form-control">
                <div *ngIf="addStudentForm.controls['fullname'].errors
                &&
                addStudentForm.controls['fullname'].touched || addStudentForm.controls['fullname'].dirty
                ">
                    <span *ngIf="addStudentForm.controls['fullname'].hasError('required')" class="text-danger">Hãy nhập họ tên</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" formControlName="email" class="form-control">
                <div *ngIf="addStudentForm.controls['email'].errors
                &&
                addStudentForm.controls['email'].touched || addStudentForm.controls['fullname'].dirty">
                 <span *ngIf="addStudentForm.controls['email'].hasError('required')" class="text-danger">Hãy nhập email</span>
                 <span *ngIf="addStudentForm.controls['email'].hasError('email')" class="text-danger">Nhập không đúng định dạng</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Giới tính</label>
                <select formControlName="gender" class="form-control">
                    <option value="true">Nam</option>
                    <option value="false">Nữ</option>
                </select>
                <div *ngIf="addStudentForm.controls['gender'].errors
                &&
                addStudentForm.controls['gender'].touched || addStudentForm.controls['gender'].dirty
                ">
                    <span *ngIf="addStudentForm.controls['gender'].hasError('required')" class="text-danger">Hãy chọn giới tính</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">Ngày sinh</label>
                <input type="datetime" class="form-control">
                <div *ngIf="addStudentForm.controls['birthdate'].errors
                &&
                addStudentForm.controls['birthdate'].touched || addStudentForm.controls['birthdate'].dirty
                ">
                    <span *ngIf="addStudentForm.controls['birthdate'].hasError('required')" class="text-danger">Hãy nhập ngày sinh</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-success" [disabled]="addStudentForm.invalid">Thêm</button>
            </div>
        </form>
    </div>
</div>